<%= form_for @book do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit %>
<% end %>



<!-- <h2>Create a New Book</h2>
<form action="/books" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>"
  type="hidden">
  <ul>
    <li>
      <label for="title">Title:</label>
      <br>
      <input name="book[title]" value="" id="title" type="text">
    </li>
    <li>
      <label for="author">Author:</label>
      <br>
      <input name="book[author]" id="author" type="text">
    </li>
    <li>
      <label for="description">Description:</label>
      <br>
      <textarea name="book[description]" id="description">
      </textarea>
    </li>
  </ul>
  <input name="submit" value="Create Book" type="Submit">
</form> -->
